
    .modalSimple{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url(../img/bgmodal.png);
        z-index: 12;
        display: none;
    }

    .barmodal{
        position: relative;
        min-width: 300px;
        max-width: 800px;
        /*background-color: #5f92bd;*/
        color: #fff;
        height: 40px;
        padding: 10px 0px 10px 0px;
        margin:0 auto;
        top: 10px;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        /*border-bottom: 1px dashed #fff;*/
    }

    .barmodal_red{
        position: relative;
        min-width: 300px;
        max-width: 700px;
        background-color: #b03232;
        color: #fff;
        height: 20px;
        padding: 10px 0px 10px 0px;
        margin:0 auto;
        top: 10px;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        /*border-bottom: 1px dashed #fff;*/
    }

    .ttlmodal{
        position: absolute;
        width: 300px;
        height: 31px;
        left: 15px;
        top: 12px;
        color: #fff;
        font-size: 14px;
    }

    .close_m{
        position: absolute;
        background-image: url(../img/icoclosebox.png);
        background-position: center;
        background-repeat: no-repeat;/* left: 93%;*/
        top: 10px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        right: 2%;
        z-index: 10;
    }

    .bseintmodal{
        position: relative;
        min-width: 300px;
        max-width: 800px;
        /*background-color: #fff;*/
        top: 10px;
        min-height: 30%;
        max-height: 70%;
        margin: 0 auto;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
    }

    .bse_modal{
        box-shadow: 0px 0px 15px #333;
    }
    .int_min_modal{
        position: relative;
        width: 95%;
        margin: 0 auto;
    }
