    body{
      font-size: 12px;
      color: #333;
      font-family: arial;
      font-family: 'Roboto', sans-serif: 100;
      font-weight: 400;
      /*overflow-x: none;*/
      /*background-image: url(assets/img/bg.png);*/
    }

    .rbt{
      font-family: 'Roboto', sans-serif: 100;
    }

    a.linkmenu{color:#666; text-decoration:none;}
    a.linkmenu:hover{color:#333; text-decoration:underline;}

    a.linkpng{color:; text-decoration:none;}
    a.linkpng:hover{color:; text-decoration:underline;}



    .r{
      border:red solid 1px;
    }

    .b{
      border:blue solid 1px;
    }



  .fakePlaceholder{
    background:#a8a8a8;
    color:#fff;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    float:left;
    font-size:10px;
    position:absolute;
    /*border:1px solid #ffffff;*/
    /*border-radius:4px;*/
    /*box-shadow:0 0 10px 0 rgba(0,0,0,.4);*/
    z-index:1000;
  }

  .bx_s{
    position: relative;
    width: 50px;
    height: 30px;
    float: left;
  }



  .campo{
  height: 38px;
  text-indent: 0.8em;
  border:#ccc solid 1px;
  width: 200px;
}

.btn_ft{
  width: 60px;
  height: 40px;
  margin-top: -3px;
  background-color: #0071b9;
  color: #fff;
  border:1px solid #0071b9;

}

    .open_m{
      display: none;
      z-index: 100;
      position: fixed;
      right: 7%;
      top: 10px;
      cursor: pointer;
    }





@media only screen and (max-width: 788px) {
  #teste_1{
    background-color: blue;
  }
  #menu_1{
    display: none;
  }
  #menu_2{
    display: none;
  }
  #lat_1{
    display: none;
  }
  #lat_2{
    display: none;
  }
  #int_menu{
    display: none;
    top: 5px;
  }
  #open_m{
    display: block;
  }
  #mmidias{
    display: none;
  }
  #usercartao{
    display: none;
  }
  #lmenu{
    display: none;
  }
  .tali{
    text-align: center;
  }
}

@media only screen and (min-width: 788px) {
  #teste_1{
    background-color: green;
  }
}

@media only screen and (min-width: 1024px) {
    #teste_1{
    background-color: orange;
  }
}

@media only screen and (min-width: 1280px) {
    #teste_1{
    background-color: red;
  }   
}


.pop_menu{
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}