/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #E8E8E8; color: #474747;font: 12px/25px Arial, Helvetica, sans-serif;}

a{color: #009FE3; text-decoration: none;}
a:hover {color: #009FE3; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;}
a.button {display: inline-block;text-decoration: none;padding: 6px 12px 6px 12px;}
a.button:hover{}

h2, .title{font-family: Rockwell,'Kameron',serif;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {background:#FFFFFF; border-top: 3px solid #252525; border-bottom: 3px solid #009FE3;}
header .wrap-header{height: 130px;}

header #logo {position:absolute; top:30px; padding:5px; width: 100%;}

nav {}
nav .wrap-nav{position:absolute; bottom:0px; right:0px; height: 37px;}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.menu  ul li:hover {background:#009FE3;}
.menu  ul li a {font-size: 14px; line-height:14px;color: #009FE3;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase; font-weight: bold;}
.menu  ul li:hover a {color:#ffffff;}
.menu li.current{background:#009FE3;}
.menu li.current a {color:#ffffff;}

.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:#333333;}
.minimenu div{overflow: hidden;position: relative;font: 18px/37px 'PT Sans Narrow';color: #fff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

.social{position: absolute; right: 10px; top: 20px;}
.social ul{list-style: none;margin: 0;padding: 0;}
.social ul li{position: relative;float: left;}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:30px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding: 0px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {}
#content .wrap-content{background-color:#FFF; border-top: 15px solid #009FE3; margin-top: 30px;}

.divider{background: url(css/images/suporte/divider.png) repeat-x; height: 7px; width: 90%; margin: auto;}

.block01 {margin:10px;}
.block01 h2 { padding-top:30px; font-size: 30px; text-align: center; font-weight: normal;}
.block01 p { padding: 10px 30px 30px 30px; font-size:20px; text-align:center; line-height:30px;}

.block02 {margin:30px 0; padding: 0 10px;}
.block02 h2{font-size:20px; font-weight: normal;}
.block02 a{color: #474747;}
.block02 a:hover{color: #009FE3;}
.block02 span {font-size: 50px; float: left; margin: 0px 5px 0 0; line-height: 1;}

.block03 {margin: 30px 0; padding: 0 10px;}
.block03 .title{width: 90%; background: url(css/images/suporte/divider.png) repeat-x 50% 50%; margin: auto; text-align: center;}
.block03 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}
.block03 img{border:2px solid #CCCCCC;}
.block03 h2{font-size:15px; line-height:30px;}

.block04 {margin: 30px 0; padding: 0 10px;}
.block04 .title{width: 90%; background: url(css/images/suporte/divider.png) repeat-x 50% 50%; margin: auto; text-align: center;}
.block04 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}

.block05 {margin: 30px 0;}
.block05 .title{width: 90%; background: url(css/images/suporte/divider.png) repeat-x 50% 50%; margin: auto; text-align: center;}
.block05 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}
.block05 article{ clear: both; margin-bottom:30px; padding: 0 10px;}
.block05 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block05 article .info{font-style:italic; padding: 10px 0px;}
.block05 article img{ margin-bottom:10px; width: 100%; border: 5px solid #333;}
.block05 .box{margin-bottom:20px; padding: 0 10px;}
.block05 .heading{padding:5px 0px; border-bottom:2px solid #615E5F}
.block05 .heading h2{font-size:16px; font-weight:normal; display:inline; border-bottom: 2px solid #009FE3; padding-bottom: 8px;}
.block05 .content{ margin: 5px 0px ;}
.block05 .content .list{padding: 10px; margin-left: 10px;}
.block05 .content ul{ font-size:14px; list-style-type:circle;}
.block05 .content ul li{padding:5px; border-bottom: 1px solid #E2E2E2;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {background-color:#333; margin-top:30px;}
footer .wrap-footer{padding:10px 0px; color:#ffffff;}

footer .box{}
footer .heading{ padding:5px 0; border-bottom:1px solid #615E5F; border-top:1px solid #615E5F; text-align: center;}
footer .heading h2{font-size:18px; font-weight:normal; display:inline;border-bottom: 1px solid #009FE3; border-top: 1px solid #009FE3; padding: 7px 0 8px 0;}
footer .content{padding:5px}
footer .content ul{ font-size:14px;}
footer .content ul li{padding:5px 0;}
footer .content .tag a{padding: 10px; background: #009FE3; margin: 0px 5px 5px 0px; float: left; color: #ffffff;}
footer .content .tag a:hover{color: #ffffff; background: #4cc7fc;}

.copyright{text-align:center; margin-top:20px; background: #DBDBDB; padding: 20px 0px;}
.copyright a{color:#ffffff; text-decoration:underline;}

/*------------gallery*/
.gallery {}
.gallery a {display: block;	margin: 0px 10px 10px 0px;position: relative;
	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
/*.gallery a:nth-child(3n+2) {margin: 0 25px 25px 25px;}*/

.gallery a img {display: block;	-webkit-transition: all 0.5s;}

/*Hover effects*/
.gallery a img:hover {-webkit-filter: none; /*Returns to default state*/}

/*Default state for brightness has to be specified specifically*/
.gallery a img.brightness:hover {-webkit-filter: brightness(0);}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}


/*Pagination*/
#pagi{margin: 50px auto; padding: 20px 0px;list-style: none;width: 250px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 16px Arial, sans-serif;padding: 5px; background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #009EE2;}

/*Comment*/
.comment{font-weight:bold; margin:10px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}